@font-face {
    font-family: "Roboto";
    font-weight: normal;
    src: local("Roboto"),
    url("../fonts/roboto.woff") format("woff"),
    url("../fonts/roboto.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: local("Roboto"),
    url("../fonts/robotomedium.woff") format("woff"),
    url("../fonts/robotomedium.woff2") format("woff2");
}
body{
    background-color: #849d8f;
    margin:0;
    padding:0;
    font-family: Roboto, Helvetica, sans-serif;
}
ul{
    margin:0;
    padding:0;
    list-style: none;
}
body > input[type="radio"] {
    display: none;
}
.wrapper-background{
    background-image: url(../img/slide1.png);
    background-repeat:no-repeat;
    background-position: center top;
    -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}
/*
.wrapper-background:before,
.wrapper-background:after {
    content: "";
    visibility: hidden;
}

.wrapper-background:before {
    background-image: url("../img/slide2.png");
}

.wrapper-background:after {
    background-image: url("../img/slide3.png");
}*/

.container{
    min-width:860px;
    max-width:1146px;
    margin:0 auto;
    padding: 0 2.2%;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.main-header{
    padding-top:8px;
    position: relative;
}
.logo{
    margin-right:14px;
}
.main-menu{
    float: left;
}
.logo{
    float: left;
}
.main-menu ul{
     float: left;
 }
.header-menu{
    margin-top:13px;
}
.item-menu{
    float: left;
    padding:8px 13px;
}
.item-menu a{
    font-family: Roboto, Helvetica, sans-serif;
    color: #ffffff;
    font-size:16px;
    font-weight: 500;
    line-height:16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #bfd0c7;
    padding-bottom:2px;
}
.item-menu:hover{
    background-color: #f7f6f3;
    border-radius:18px;
}
.item-menu:hover a{
    color: #333333;
    border:none;
}
.submenu{
    display: none;
    position: absolute;
    top:40px;
    left:-7px;
    background-color: #f8f7f4;
    border-radius:5px;
    width: 143px;
    box-sizing: border-box;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .3);
}
.submenu li.submenu-title{
    color: #343434;
    font-size:14px;
    font-weight:600;
    padding:12px 60px 15px 14px;
    line-height:14px;
    border-bottom: 1px solid #d1d0ce;
    margin-left:6px;
    display: inline-block;
}
.submenu li{
    float: none;
    padding:0;
    margin-bottom:5px;
}
.submenu li a{
    color: #343434;
    font-size:14px;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: normal;
    border-bottom: none;
    padding:7px 20px;
    line-height:14px;
}
.submenu li a:hover{
    background-color: #fbded8;
}
.catalog-menu{
    position: relative;
}
.catalog-menu::after{
    content: '';
    position: absolute;
    width: 100%;
    height:15px;
    left:-7px;
}
.catalog-menu:hover .submenu{
    display: block;
}
.user-block{
    float: right;
    margin-top:13px;
}
.user-block-item{
    display: inline-block;
    background-color: rgba(255, 255, 255, .2);
    margin-left:10px;
    border-radius:18px;
    font-size:14px;
    color: #ffffff;
    line-height:14px;
    height:32px;
    vertical-align: middle;
    padding-top:8px;
    box-sizing: border-box;
    cursor: pointer;

}
.user-block-item:hover{
    background-color: #fff;
    color: #323232;
}
.user-block-item_search{
    position: relative;
    width: 32px;
    background-image: url(../img/search.svg);
    background-repeat:no-repeat;
    background-position: 7px 7px;
}
.user-block-item_search:hover{
    background-image: url(../img/search-hover.svg);
}
.user-block-item_login{
    position: relative;
    width: 92px;
    padding-left:45px;
    background-image: url(../img/enter.svg);
    background-repeat:no-repeat;
    background-position: 16px 7px;
}
.user-block-item_login:hover{
    background-image: url(../img/enter-hover.svg);
}
.user-block-item_cart{
    position: relative;
    width: 117px;
    padding-left:45px;
    background-image: url(../img/busket.svg);
    background-repeat:no-repeat;
    background-position: 16px 6px;
}
.user-block-item_cart:hover{
    background-image: url(../img/busket-hover.svg);
}
.header-contacts{
    position: absolute;
    right:0;
    text-align: right;
    top:55px;
    color: #fff;
}
.header-contacts p{
    font-size:14px;
    line-height:14px;
    font-weight:500;
    margin-bottom:10px;
}
.header-contacts span{
    font-size:22px;
    line-height:22px;
    font-weight:600;
}
.slider{
    position: relative;
    margin-bottom:24px;
}
.slider h2{
    color: #fff;
    font-size:60px;
    line-height:60px;
    font-weight:600;
    margin-top:309px;
    margin-bottom:35px;
}
.slider-paginator {
    position: absolute;
    left: 0;
    bottom: 20px;
    font-size: 0;
}
.slider-paginator__label{
    display: inline-block;
    vertical-align: top;
    margin-right:8px;
    width: 16px;
    height:16px;
    border-radius:50%;
    border: 2px solid #fff;
    cursor: pointer;
}
.slider-paginator__label:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
#slider-btn-1:checked ~ .wrapper-background label[for="slider-btn-1"],
#slider-btn-2:checked ~ .wrapper-background label[for="slider-btn-2"],
#slider-btn-3:checked ~ .wrapper-background label[for="slider-btn-3"] {
    background-color: #ffffff;
}

.slide1, .slide2, .slide3{
    text-align: center;
    display: none;
}
#slider-btn-1:checked ~ .wrapper-background .slide1,
#slider-btn-2:checked ~ .wrapper-background .slide2,
#slider-btn-3:checked ~ .wrapper-background .slide3 {
    display: block;;
}
#slider-btn-2:checked ~ .wrapper-background{
    background: url("../img/slide2.png");
    background-color: #8996a6;
    background-repeat:no-repeat;
    background-position: center top;
}

#slider-btn-3:checked ~ .wrapper-background{
    background: url("../img/slide3.png");
    background-color: #9d8b84;
    background-repeat:no-repeat;
    background-position: center top;
}
.btn{
    background-color: #ec583c;
    color: #fff;
    text-decoration: none;
    border: none;
    outline:none;
    padding:12px 22px;
    border-radius:30px;
    -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
    -moz-box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
    box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
    background-image: -webkit-linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
    background-image: -o-linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
    background-image: linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
    font-weight:500;
}
.btn:hover{
    -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
    -moz-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);

    background-image: -webkit-linear-gradient(to top, rgb(236, 111, 94), rgb(245, 134, 105));
    background-image: -o-linear-gradient(to top, rgb(236, 111, 94), rgb(245, 134, 105));
    background-image: linear-gradient(to top, rgb(236, 111, 94), rgb(245, 134, 105));
}

.btn:active{
    -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
    -moz-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);

    background-image: -webkit-linear-gradient(to top, rgb(225, 97, 62), rgb(215, 70, 50));
    background-image: -o-linear-gradient(to top, rgb(225, 97, 62), rgb(215, 70, 50));
    background-image: linear-gradient(to top, rgb(225, 97, 62), rgb(215, 70, 50));
}
.btn-slider{
    font-size:31px;
    font-weight:600;
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
    padding:12px 39px;
    line-height:62px;
}

.banners{
    margin-bottom:40px;
    color: #fff;
}
.banners h2{
    margin-top:0;
    margin-bottom:25px;
    font-size:35px;
    line-height:35px;
}
.banners p{
    margin-top:0;
    margin-bottom:25px;
    font-size:18px;
    line-height:22px;
}
.banner-left, .banner-right{
    border-radius:17px;
    padding:20px 30px 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:229px;
    position: relative;
}
.banner-left{
    float: left;
    width:48.9%;
    background: #731426 url("../img/banner-left.png");
}
.banner-right{
    float: right;
    width:48.9%;
    background: #513021 url("../img/banner-right.png");
}
.btn-banners{
    display: inline-block;
    position: absolute;
    right:30px;
    bottom:22px;
    font-size:18px;
    font-weight:500;
}
.hits{
    margin-bottom:40px;
}
.hits-item{
    float: left;
    width: 23.29%;
    margin-right: 2.2%;
    text-align: center;
    z-index: 1;
    position: relative;
}
.hits-item:nth-child(4n){
    margin-right:0;
}
.hits-item::after{
    content: "";
    z-index: -1;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius:5px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .3);
    display: none;
    width: 110%;
    height: 127%;
    top: -10px;
    left: -12px;
}
.btn-hit {
    position: absolute;
    display: none;
    left: 49%;
    top:104%;
    z-index: 1;
    padding-top: 10px;
    padding-left: 17px;
    padding-right: 17px;
    margin-left: -85px;
    border-radius: 20px;
    font-size:15px;
}
.hits-item:hover {
    z-index: 2;
}
.hits-item:hover::after {
    z-index: -2;
    display: block;
}
.hits-item:hover .btn-hit{
    display: block;
}
.hits-item h3{
    margin:0;
}
.hits-item-price{
    position: absolute;
    font-size:45px;
    line-height:14px;
    color: #fff;
    font-weight:600;
    margin:0;
    left:0;
    bottom:40px;
    text-shadow: 0 1px 3px rgba(49, 50, 53, .5);
}
.hits-item-price span{
    font-size:30px;
    padding-left:32px;
}
.hits-item-price::before{
    content: "";
    position: absolute;
    top:-9px;
    left:84px;
    width: 32px;
    height: 37px;
    background-image: url(../img/Р.svg);
    background-repeat: no-repeat;
}
.hits-item-img-price{
    width: 100%;
    height:auto;
    position: relative;
    margin-bottom:12px;
}
.hits-item-img-price::before{
    position: absolute;
    content: "";
    width: 61px;
    height:61px;
    background-image: url(../img/icon-hit.png);
    background-repeat: no-repeat;
    top:0;
    left:0;
}
.hits-item-img img{
    display: block;
}

.hits-item:last-child{
    margin-right:0;
}
.hits-item:hover .hits-item-name{
    border-bottom: 0;
}
.hits-item-name{
    font-family: Roboto, Helvetica, sans-serif;
    color: #ffffff;
    font-size:16px;
    font-weight: 400;
    line-height:22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-decoration: none;
}
.seo{
    padding:25px 1.1% 0 1.1%;
    background: #ECE0C8 url("../img/seo-bg.jpg") repeat;
    margin-bottom:40px;
    border-radius:17px;
    box-sizing: border-box;
}
.seo b{
    font-size:24px;
    line-height:30px;
    font-weight:500;
    margin-bottom:24px;
    display: inline-block;
    color: #323232;

}
.seo__item{
    display: inline-block;
    vertical-align: top;
    width:47.8%;
    color: #323232;
    line-height:22px;
    font-size:16px;
    padding-left:55px;
    box-sizing: border-box;
    margin-bottom:24px;
    position: relative;
    margin-right:2.2%;
}
.seo__item:nth-child(2n){
    margin-right:0;
}
.seo__item::before{
    content: "";
    position: absolute;
    width: 48px;
    height:48px;
    left:0;
    top:-12px;
}
.seo-production::before{
    background: url("../img/seo-production.svg") no-repeat;
}
.seo-cow::before{
background: url("../img/seo-cow.svg") no-repeat;
}
.seo-leaf::before{
    background: url("../img/seo-leaf.svg") no-repeat;
}
.seo-temperature::before{
    background: url("../img/seo-temperature.svg") no-repeat;
}
.news{
    margin-bottom:40px;
}
.news-of-blog, .email-seller{
    width:48.9%;
    border-radius:17px;
    box-sizing: border-box;
}
.news-of-blog{
    float: left;
    background: #fff url("../img/news-bg.jpg") no-repeat;
    background-position: top right;
    padding:25px 20px;
    height:220px;
}
.news-of-blog p{
    margin-top:0;
    font-size:16px;
    color: #5a5a5a;
    line-height:16px;
    margin-bottom:13px;
    font-weight:500;
}
.title-of-news{
    font-size:24px;
    line-height:30px;
    color: #353535;
    font-weight:600;
    background: rgba(255, 255, 255, .8);
    padding-right:10px;
    display: inline-block;
}
.email-seller{
    float: right;
    padding:5px;
    background-image: url(../img/bg-post.png);
}
.subscribe-wrapper{
    background-color: #f8f7f4;
    padding:30px 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius:17px;
    height:210px;
    position: relative;
}
.subscribe-inner{
    position: absolute;
    width: 100%;
    bottom:30px;
}
.subscribe-wrapper p{
    margin:0;
    font-weight:normal;
    color: #5a5a5a;
    font-size:16px;
    line-height:22px;
    margin-bottom:35px;
}

.subscribe-form{
    width:93%;
    padding-right:148px;
    box-sizing: border-box;
    position: relative;
}
.subscribe-form input{
    padding:12px 10px;
    border-radius:5px;
    border: 1px solid #b2b2b2;
    color: #999999;
    font-size:16px;
    font-family: Roboto, Helvetica, sans-serif;
    width: 100%;
    box-sizing: border-box;
    margin-right:2%;
}
.btn-subscribe{
    padding:12px 22px;
    position: absolute;
    top:0;
    right:0;
}
input:focus{
    outline:none;
}
.map-wrapper{
    height:430px;
    background-color: #fff;
}
#map{
    height:430px;
    z-index:1;
}
.map-container{
    position: relative;
}
.contacts{
    position: absolute;
    top:65px;
    background-color: #fff;
    padding:30px 25px 30px 25px;
    border-radius:17px;
    z-index:10;
    box-sizing: border-box;
    right:2.3%;
    width: 300px;
}
.map-contacts{
    width: 100%;
    bottom:0;
}
.contacts-address{
    margin-bottom:18px;
}
p.contacts-address-title{
    font-size:14px;
    margin:0;
    line-height:20px;
    color: #343434;
}
p.contacts-address-point{
    font-size:18px;
    margin:0;
    line-height:24px;
    color: #343434;
    font-weight:600;
}
.contacts-phone{
    margin-bottom:25px;
}
.contacts-phone p{
    margin:0;
    font-size:14px;
    line-height:20px;
    color: #343434;
}
p.contacts-phone-number{
    font-size:18px;
    font-weight:600;
    line-height:22px;
}
.main-footer{
    padding:18px 0;
    color: #fff;
}
.main-footer a{
    color: #fff;
}
.socials{
    float: left;
    margin-top:17px;
    width:190px;
}
.socials ul{
    letter-spacing: -0.3em;
}
.socials li{
    margin-right:12px;
    display: inline-block;
    vertical-align: top;
}
.socials li:last-child{
    margin-right:0;
}
.btn-social{
    width: 31px;
    height:31px;
    display: block;
    background-repeat:no-repeat;
    opacity:.8;
    border: 3px solid rgba(255, 255, 255, .5);
    border-radius:50%;
}
.btn-social-twitter{
     background-image: url(../img/btn-twitter.svg);
 }
.btn-social-instagram{
    background-image: url(../img/btn-inst.svg);
}
.btn-social-facebook{
    background-image: url(../img/btn-face.svg);
}
.btn-social-vkontakte{
    background-image: url(../img/btn-vk.svg);
}
.btn-social:hover{
    margin:-2px;
    opacity:.98;
    border: 5px solid rgba(255, 255, 255, 0.71);
}
.btn-social:active{
    margin: -2px;
    opacity:.99;
    border: 5px solid rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: inset 0 2px 1px rgba(136, 136, 136, 1);
    -moz-box-shadow: inset 0 2px 1px rgba(136, 136, 136, 1);
    box-shadow: inset 0 2px 1px rgba(136, 136, 136, 1);
}
.footer-logo{
    background: url("../img/footer-logo.svg") no-repeat;
}
.footer-menu{
    float: left;
    margin-left:15%;
    margin-top:9px;
    width:310px;
    box-sizing: border-box;
}
.footer-menu-left{
    margin-right:30px;
 }
.footer-menu ul li{
    margin-bottom:5px;
}
.footer-menu a{
    font-size:13px;
    text-decoration: none;
    line-height:13px;
    font-weight:300;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-menu a:hover{
    border-bottom:none;
}
a.footer-menu-sellers{
    font-weight:500;
    position: relative;
}
.footer-menu-sellers::before{
    content: "";
    position: absolute;
    width: 14px;
    height:12px;
    background: url("../img/heart.svg") no-repeat;
    left:-20px;
    top:4px;
}
.footer-menu ul{
    float: left;
}
.copyright{
    float: right;
    width: 165px;
    text-align: left;
}
.footer-logo{
    background: url("../img/footer-logo.svg") no-repeat;
    width: 107px;
    height:36px;
    margin-bottom:5px;
}
.copyright p, a{
    font-size:12px;
    margin:0;
}
.copyright a{
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.copyright a:hover{
    border-bottom:none;
}
.modal{
    position: absolute;
    padding:15px;
    background-color: #f8f7f4;
    border-radius:5px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .3);
    z-index:2;
}
.user-block-item_search::after{
    content: "";
    position: absolute;
    width: 100%;
    height:15px;
    bottom:-7px;
}
.user-block-item_login::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height:28px;
    bottom:-17px;
    left:0;
}
.user-block-item_cart::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height:28px;
    bottom:-17px;
    left:0;
}
.user-block-item_search:hover .modal-search{
    display: block;
}
.user-block-item_login:hover .modal-auth{
    display: block;
}
.user-block-item_cart:hover .modal-cart{
    display: block;
}
.user-block__field{
    padding:7px 10px;
    border-radius:5px;
    border: 1px solid #b2b2b2;
    color: #353535;
    width: 310px;
    box-sizing: border-box;
    font-size:16px;
    line-height:24px;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight:500;
}
.user-block__label{
    position: absolute;
    top:7px;
    left:13px;
    font-size:14px;
    line-height:24px;
    font-family: Roboto, Helvetica, sans-serif;
    color: #999999;
    -webkit-transition: 0.15s all;
    transition: 0.15s all;
}
.user-block__field:hover{
    border: 2px solid #c7c6c5;
    padding:6px 9px;
}
.user-block__field:focus{
    border: 2px solid #8fbdec;
    padding:6px 9px;
}
.user-block__field:focus ~ .user-block__label{
    font-size: 11px;
    line-height: 13px;
    color: #5b9ddf;
    -webkit-transform: translateY(-25px);
    transform: translateY(-20px);
}
.modal-search{
      right:0;
      top:38px;
      display: none;
}
.modal-auth{
    right:0;
    top:38px;
    display: none;
}
.modal-cart{
    right:0;
    top:38px;
    width: 540px;
    color: #333333;
    padding:25px 15px 20px 15px;
    cursor: default;
    box-sizing: border-box;
    display: none;
}
.user-block__field-wrapper{
    position: relative;
}
.user-block__field-email, .user-block__field-password{
    width: 240px;
    margin-bottom:10px;
}
.user-block__field-email, .user-block__field-password{
    width: 240px;
    margin-bottom:15px;
}
.btn-login{
    font-size:15px;
    padding:10px 30px;
    float: left;
}
.login-links{
    float: right;
    display: inline;
    margin:0;
}
a.login-links-item{
    color: #333333;
    font-size:13px;
    display: inline-block;
    margin-bottom:6px;
}
a.login-links-item:last-child{
    margin-bottom:0;
}
.cart-table{
    border-bottom: 1px solid #cacac7;
}
.cart-table td{
    display: inline-block;
    vertical-align: middle;
}
.cart-item{
    display: block;
}
.cart-table tr{
    margin-bottom:20px;
}
.cart-cross-delete{
    width: 10px;
    height:10px;
    background: url("../img/cart-dalete.svg") no-repeat;
    margin-right:14px;
    cursor: pointer;
 }
.cart-img{
    width: 33px;
    height:33px;
    border-radius:50%;
    margin-right:14px;
}
.cart-product-name{
    margin-right:30px;
    width: 218px;
}
td.cart-product-name a{
      font-size:13px;
      color: #333333;
      text-decoration: none;
  }
.cart-product-name a:hover{
    text-decoration: underline;
}
td.cart-cost{
    font-size:13px;
    margin-right:30px;
}
.cart-cost span{
    color: #808080;
}
.cart-price{
    font-size:13px;
}
.cart-total-info{
    text-align: right;
}
.delete-product-cart{
    display: none;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}
.total-price{
    margin-bottom:15px;
    font-size:15px;
    font-weight:600;
    padding-bottom:1px;
}
.btn-cart{
    font-size:15px;
    font-weight:600;
    display: inline-block;
}